#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(79, 79, 79);
  border-radius: 5px;
  text-align: center;
  padding-top: 0.5px;
}

#navbar p {
  margin: 3px;
  text-transform: uppercase;
  color: white;
}

#navbar ul {
  margin: 1px;
  gap: 5px;
  font-size: 17px;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  color: rgb(0, 0, 0);
}
