section {
  display: flex;
  align-self: center;
  flex-direction: column;
  border: 4px black groove;
  padding: 1px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2px;
}

img {
  align-self: center;
  width: 200px;
}
